.container{
    padding-top: 56px;
}

.navbar {
    background-color: #53606c;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarBrand {
    color: aliceblue;
    font-size: 1.5rem;
    text-decoration: none;
}

.navbarNav {
    list-style: none;
    display: flex;
}

.navbarItem{
    margin-left: 20px;
}

.navbarLink{
    color: #FFF;
    text-decoration: none;
    font-size: 1rem;
}

.navbarContent{
    text-align: center;
    align-items: center;
    margin-top: 50px;
}

.footer {
    background-color: rgb(41, 78, 94);
    padding: 20px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}